
body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.492) 0%, rgba(253, 187, 45, 0.547) 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid transparent;
    padding: 20px;
    color: white;
    border-radius: 15px;
}


#todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}



#input-box {
    width: 200px;
    height: 40px;
    padding: 0px 20px;
    border: 2px solid gray;
    color: white;
    outline: none;
    border-radius: 24px;
    font-size: 1em;
    background: transparent;
}


#input-button {
    font-size: 1em;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    border-radius: 24px;
    width: 40px;
    height: 40px;
    
}


#input-button:hover {
    background-color: #9eb7fd;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;

}


li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}


.taskForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
}

.actionClick {
    display: flex;
    gap: 12px;
    text-wrap: no-wrap;
}

.delete-btn {
    color: red;
}

.completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
}


.completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
}